<blog-roll>
    <h3>All my posts</h3>
    <div if={!posts || posts.length === 0}>
        Hello .... You do not have any posts. <br/>

        <a href="/new" class="button button-primary">Create your first post</a>
    </div>
    <post-list each={post in posts}
          post={post}
          excerpt="true">
    </post-list>

  <script>
    export default {
        onBeforeMount() {
        }
    }
  </script>
</blog-roll>